#alertes{"data-alertes" => "#{alertes.to_json}" }
%table.table.table-striped.table-hover
  %thead
    %th Nom
    %th.text-center Type
    %th.text-center Poids
    %th Seuil
    %th Dépassement
  %tbody
    - alertes.each do | al |
      %tr
        %td
          - if al[:poids] > al[:seuil]
            %p.text-danger
              = raw(link_to truncate( al[:nom]), edit_produit_path(al[:id]) )
              -#%i.fa.fa-warning
              -#ATTENTION
              -#%i.fa.fa-warning
          - else
            = raw(link_to truncate( al[:nom]), edit_produit_path(al[:id]) )
        %td.text-center= raw al[:type]
        %td.text-center
          = al[:pretty_poids]
        %td
          = "#{al[:seuil].to_s.gsub('.', ',')} kg"
        %td
          %label.label{class: "#{al[:poids] < al[:seuil] ? "label-success" : "label-danger" }"}
            = "#{(al[:poids] - al[:seuil]).abs.to_s.gsub('.', ',') } kg"
- if max_alertes > 10
  .panel-body.text-right
    = link_to "Voir tout le stock", statistiques_path()
