-if ebsdds.any?
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th #
        %th Producteur
        %th Destinataire
        %th Type déchet
        %th Poids
        %th.actions Actions

    %tbody
      -ebsdds.each do | ebsdd |
        %tr
          %td
            - if ebsdd.status == :complet
              = link_to ebsdd.short_bid, ebsdd_path(ebsdd)
            - else
              = link_to ebsdd.bid.to_s.scan(/(\d{4})(\d{2})(\d{2})(\d{4})/).join(" "), ebsdd_path(ebsdd)
          %td
            = link_to truncate(ebsdd.producteur.nom.titleize, length: 20), producteur_path(ebsdd.producteur), class: "touletip", title: "Producteur du déchet : #{ebsdd.producteur.nom.titleize}"
          %td= truncate ebsdd.destinataire.nom.titleize, length: 18
          %td= truncate ebsdd.libelle.titleize, length: 15
          %td
            = ebsdd.bordereau_poids.nil? ? "-" : "#{ebsdd.bordereau_poids} kg"
          %td.actions
            .center-block.text-center
              = link_to(fa_icon("gears lg", text: ""), edit_ebsdd_path(ebsdd), class: "btn btn-warning touletip btn-xs", role: "button", title: "Complèter") if ebsdd.is_incomplete?
              = link_to(fa_icon("eye lg", text: ""), ebsdd_path(ebsdd), class: "btn btn-primary touletip btn-xs", role: "button", title: "Voir les détails de cet eBSDD (##{ebsdd.long_bid})")
              = link_to(fa_icon("cloud-download lg", text: ""), ebsdd_download_path(ebsdd), class: "btn btn-info touletip btn-xs", role: "button", title: "Télécharger l'eBSDD ##{ebsdd.long_bid} au format CSV") unless ebsdd.is_incomplete?
  - if ebsdds.count > 10
    .panel-body
      = link_to "Voir tous les eBSDDs #{status.to_s}...", ebsdd_status_path(status: status.to_s), class:"pull-right"
-else
  .center-block
    %p.text-center
      = fa_icon "times-circle pull-left ccc lg"
      - if status == :incomplet
        Aucun eBSDD. Veuillez importer un fichier Excel pour commencer
      - elsif status == :nouveau
        Aucun eBSD nouvellement crée. Veuillez créer un nouveau eBSD
      - else
        Aucun eBSDD. Veuillez importer un fichier Excel pour commencer
