%h1.underline
  = fa_icon "dashboard "
  Tableau de bord
.row.panel-fd
  .col-md-8
    - if @alertes.any?
      .panel.panel-default
        .panel-heading
          %h3.panel-title
            = fa_icon "tags ccc"
            Seuils d'alertes
        = render partial: 'dash_alertes', object: @alertes, as: :alertes, locals: {max_alertes: @max_alertes}
    .panel.panel-default
      .panel-heading
        %h3.panel-title
          = fa_icon "tags ccc"
          10 Derniers Bons de sorties créés
      = render partial: 'latest_bds', object: @bons, as: 'bons'
    .panel.panel-default
      .panel-heading
        %h3.panel-title
          = fa_icon "tags ccc"
          10 Derniers eBSDDs en attente
      = render partial: 'latest', object: @en_attente, as: 'ebsdds', locals: { status: :en_attente }
    -#.panel.panel-default
      -#.panel-heading
        -#%h3.panel-title
          -#= fa_icon "tags ccc"
          -#10 Derniers eBSDDs importés
      -#.panel-body
        -#= render partial: 'latest', object: @incomplete, as: 'ebsdds', locals: { status: :incomplets }
    -#.panel.panel-default
      -#.panel-heading
        -#%h3.panel-title
          -#= fa_icon "tags ccc"
          -#10 Derniers eBSDDs complets
      -#= render partial: 'latest', object: @complete, as: 'ebsdds', locals: { status: :complets }
  .col-md-4
    =# Action box
    .panel.panel-default
      .panel-heading
        %h3.panel-title
          = fa_icon "gears ccc"
          Actions
      .panel-body
        = render partial: 'actions'
    =# Last attachments
    -# dernières recherches
    .panel.panel-default
      .panel-heading
        %h3.panel-title
          = fa_icon "search ccc"
          Dernières recherches éffectuées
      .panel-body
        %ol
          - Search.desc(:created_at).take(10).each do | s |
            %li
              = link_to s.created_at.strftime("%d/%m/%Y %H:%M"), search_path(s)
              - if s.criteres.any?
                %ul
                  - s.criteres.take(3).each do | c |
                    %li
                      = truncate c.capitalize
                  - if s.criteres.count > 3
                    %li &#8230;
    -#.panel.panel-default
      -#.panel-heading
        -#%h3.panel-title
          -#= fa_icon "file-text ccc"
          -#Derniers fichiers importés
      -#.panel-body
        -#= render partial: 'attachments'
