%h1.underline
  = fa_icon "dashboard "
  Tableau de bord
.row
  .col-md-8
    .panel.panel-default
      .panel-heading
        %h3.panel-title
          = fa_icon "tags ccc"
          Derniers eBSDDs importés
      .panel-body
        = render partial: 'ebsdds'
  .col-md-4
    .panel.panel-default
      .panel-heading
        %h3.panel-title
          = fa_icon "file-text ccc"
          Derniers fichiers importés
      .panel-body
        = render partial: 'attachments'

    .panel.panel-default
      .panel-heading
        %h3.panel-title
          = fa_icon "gears ccc"
          Actions
      .panel-body
        = render partial: 'actions'

