= content_for :search do
  = form_tag( produits_search_path, class: "navbar-form navbar-right", role: :search ) do | f |
    .form-group
      = text_field_tag :query, nil, placeholder: "Nom du déchet", class: "form-control"
    %span.form-group-btn
      %button.btn.btn-default{ type: :submit }
        = fa_icon "search lg"
%h1.page-header
  = fa_icon "users"
  Liste des déchets
  %span.small
    = "(#{@produits.count})"
  .btn-group.pull-right
    %button.btn.btn-info.dropdown-toggle{ type: "button", "data-toggle" => :dropdown}
      = fa_icon "cogs lg"
      &nbsp;
      Actions
      %span.caret
    %ul.dropdown-menu{role: "menu"}
      %li
        = fa_link_to new_produit_path, "Créer un nouveau déchet", "user lg"

- if @produits.any?
  %table.table.table-striped
    %tr
      %th Nom
      %th.text-center Type
      %th Mention
      %th Consistance
      %th Code DR
      %th Code DR
      %th.actions Actions

    - @produits.each do |produit|
      %tr
        %td= link_to produit.nom, produit
        %td.text-center= raw produit.type
        %td= truncate(produit.mention)
        %td= produit.consistance_to_human
        %td= produit.code_dr_reception
        %td= produit.code_dr_expedition
        %td.actions
          .btn-group.text-center

            = fa_link_to produit, '', "eye", class: "btn btn-primary touletip btn-xs", role: "button", title: "Voir les informations de #{produit.nom}"
            = fa_link_to edit_produit_path(produit), '', "edit", class: "btn btn-warning touletip btn-xs", role: "button", title: "Modifier les données de #{produit.nom}"
            = fa_link_to produit, '', "times", class: "btn btn-danger touletip btn-xs", role: "button", title: "Supprimer #{produit.nom} ?", method: :delete, data: { confirm: "êtes vous sur de vouloir supprimer l'élément #{produit.nom} ?" }
- else
  .jumbotron
    %p.leader
      Aucun déchet trouvé
