%h1.underline
  = fa_icon "tags"
  Liste des producteurs
  %span.small
    = "(#{Producteur.count})"
  .btn-group.pull-right
    %button.btn.btn-info.dropdown-toggle{ type: "button", "data-toggle" => :dropdown}
      = fa_icon "cogs lg"
      &nbsp;
      Actions
      %span.caret
    %ul.dropdown-menu{role: "menu"}
      %li
        = fa_link_to new_producteur_path, "Créer un nouveau producteur", "user lg"
      %li.divider
      %li
        = fa_link_to producteurs_import_path, "Importer une liste de producteurs", "group lg"

%table.table.table-striped
  %tr
    %th Nom
    %th Responsable
    %th Ville
    %th Téléphone
    %th Siret
    %th.actions Actions

  - @producteurs.each do |producteur|
    %tr
      %td= producteur.nom
      %td= producteur.responsable
      %td= producteur.ville
      %td= producteur.tel
      %td= producteur.siret

      %td.actions
        .center-block.text-center
          = fa_link_to producteur, '', "eye", class: "btn btn-primary touletip btn-xs", role: "button", title: "Voir les informations de #{producteur.nom}"
          = fa_link_to edit_producteur_path(producteur), '', "edit", class: "btn btn-warning touletip btn-xs", role: "button", title: "Modifier les données de #{producteur.nom}"
          =# fa_link_to producteur, 'Destroy', :method => :delete, :data => { :confirm => 'Are you sure?' }

= will_paginate @ebsdds, renderer: BootstrapPagination::Rails, previous_label: t("précédent"), next_label: t("suivant")
