%h1.underline
  = fa_icon "user"
  Producteur
  %small
    = @producteur.nom.titleize
  .btn-group.pull-right
    %button.btn.btn-info.dropdown-toggle{ type: "button", "data-toggle" => :dropdown}
      = fa_icon "cogs lg"
      &nbsp;
      Actions
      %span.caret
    %ul.dropdown-menu{role: "menu"}
      %li
        = fa_link_to edit_producteur_path(@producteur), "Modifier", "edit lg"

.row#edit
  .col-md-12
    .panel.panel-default
      .panel-heading
        %h3.panel-title
          = fa_icon "user ccc"
          Informations sur le producteur
      .panel-body
        %dl.dl-horizontal
          %dt SIRET :
          %dd= @producteur.siret

          %dt Nom :
          %dd= @producteur.nom

          %dt Contact :
          %dd= @producteur.responsable
          %dt Adresse :
          %dd= @producteur.adresse

          %dt Code postal :
          %dd= @producteur.cp

          %dt Ville :
          %dd= @producteur.ville

          %dt Téléphone :
          %dd= @producteur.tel

          %dt Fax :
          %dd= @producteur.fax

          %dt Adresse email :
          %dd= @producteur.email
  .col-md-12
    .panel.panel-default
      .panel-heading
        %h3.panel-title
          = fa_icon "user ccc"
          Déchets emis en #{ l(Date.today, format: :mois) }
          %span.small
            {
            = @ebsdds.count
            }
          %span.pull-right
            %a{href: "#"} &lt;&lt; mois précédent
            &nbsp;|&nbsp;
            %a{href: "#"} mois suivant &gt;&gt;
      .panel-body
        - if @ebsdds.any?
          - @ebsdds.each do | em |
            = link_to em.bid, ebsdd_path(em)
        - else
          %p.text-center Aucun eBSD pour le mois de #{ l(Date.today, format: :mois) }

