%h1.underline
  = fa_icon "user"
  Producteur
  %small
    = @producteur.nom.titleize
  -#.btn-group.pull-right
    -#%button.btn.btn-info.dropdown-toggle{ type: "button", "data-toggle" => :dropdown}
      -#= fa_icon "cogs lg"
      -#&nbsp;
      -#Actions
      -#%span.caret
    -#%ul.dropdown-menu{role: "menu"}
      -#%li
        -#= fa_link_to new_producteur_path, "Créer un nouveau producteur", "user lg"
      -#%li.divider
      -#%li
        -#= fa_link_to new_producteur_path, "Importer une liste de producteurs", "group lg"

.row#edit
  .col-md-6
    .panel.panel-default
      .panel-heading
        %h3.panel-title
          = fa_icon "user ccc"
          Informations sur le producteur
      .panel-body

        %dl.dl-horizontal
          %dt SIRET :
          %dd= @producteur.siret

          %dt Nom :
          %dd= @producteur.nom

          %dt Contact :
          %dd= @producteur.responsable
          %dt Adresse :
          %dd= @producteur.adresse

          %dt Code postal :
          %dd= @producteur.cp

          %dt Ville :
          %dd= @producteur.ville

          %dt Téléphone :
          %dd= @producteur.tel

          %dt Fax :
          %dd= @producteur.fax

          %dt Adresse email :
          %dd= @producteur.email
  .col-md-4
    .panel.panel-default
      .panel-heading
        %h3.panel-title
          = fa_icon "user ccc"
          Bordereaux rattachés
      .panel-body

  .col-md-2
    .panel.panel-default
      .panel-heading
        %h3.panel-title
          = fa_icon "user ccc"
          Actions
      .panel-body
        .row
          .col-md-12
            .actions 
              =#.margin-top-30
              -#= link_to producteurs_path, class: "btn btn-default" do
                -#= fa_icon "arrow-circle-left lg"
                &nbsp;Voir tous les producteurs
              = link_to edit_producteur_path(@producteur), class: "btn btn-success" do
                = fa_icon "edit lg"
                &nbsp;Modifier
              -#= content_tag :button, type: :submit, class: "btn btn-primary" do
                -#Enregistrer les modifications&nbsp;
                -#= fa_icon "save lg"
