.form-group
  = f.label :type_quantite_ult, "Type de quantité"
  %br
  %label.radio-inline
    = f.radio_button :type_quantite_ult, "R", checked: true
    Réelle
  %label.radio-inline
    = f.radio_button :type_quantite_ult, "E"
    Estimée

.form-group
  = f.label :bordereau_poids_ult, "Poids en kilogrammes"
  = f.text_field :bordereau_poids_ult, placeholder: "Poids"
