-if @ebsdds.any?
  .panel.panel-default
    .panel-body
      %table.table.table-striped
        %thead
          %tr
            %th #
            %th #EcoDDS
            %th Producteur
            -#%th Destinataire
            %th.text-center Type déchet
            %th Date création
            %th Poids
            %th.actions Actions

        %tbody
          -@ebsdds.each do | ebsdd |
            %tr
              %td= ebsdd.short_bid
              %td.text-center
                = ebsdd.ecodds_id.nil? ? "-" : ebsdd.ecodds_id
              %td= truncate ebsdd.productable.nom.titleize, length: 50
              -#%td= ebsdd.destinataire_nom.titleize
              %td.text-center
                - if ebsdd.dechet_nomenclature.nil?
                  \-
                - else
                  = DechetDenomination[ebsdd.dechet_nomenclature][3..-1].titleize
              %td= ebsdd.bordereau_date_creation.strftime("%d/%m/%Y")
              %td= "#{ebsdd.bordereau_poids} kg"
              %td.actions
                .center-block.text-center
                  = link_to(fa_icon("gears lg", text: ""), edit_ebsdd_path(ebsdd), class: "btn btn-warning touletip btn-xs", role: "button", title: "Complèter") if ebsdd.is_incomplete?
                  = link_to(fa_icon("eye lg", text: ""), ebsdd_path(ebsdd), class: "btn btn-primary touletip btn-xs", role: "button", title: "Voir les détails de cet eBSDD (##{ebsdd.bid})")
                  = link_to(fa_icon("cloud-download lg", text: ""), ebsdd_download_path(ebsdd), class: "btn btn-info touletip btn-xs", role: "button", title: "Télécharger l'eBSDD ##{ebsdd.bid} au format CSV") unless ebsdd.is_incomplete?
                  = link_to(fa_icon("truck lg", text: ""), ebsdd_printpdf_path(ebsdd), class: "btn btn-danger touletip btn-xs", role: "button", "data-html"=>true, title: "<i class='fa fa-warning'></i>&nbsp;ATTENTION, fonction Expérimentale, le fichier généré pèse plus de 1Mo. Télécharger l'eBSDD ##{ebsdd.bid} au format PDF")
-else
  .center-block
    %p.text-center
      = fa_icon "times-circle pull-left ccc lg"
      Aucun eBSDD. Veuillez importer un fichier Excel pour commencer.
