-if @ebsdds.any?
  .panel.panel-default
    %table.table.table-striped.table-hover#ebsdds{"data-status" => "#{@status}"}
      %thead
        %tr
          %th= sortable "# ebsdd"
          %th= sortable "# ecodds"
          %th= sortable "Producteur"
          -#%th Destinataire
          %th.text-center
            = sortable "Type déchet"
          %th= sortable "Date transport"
          %th= sortable "Poids"
          - if @status == :en_attente
            %th.text-center Pesée
          %th.text-center Actions

      %tbody
        -@ebsdds.each do | ebsdd |
          %tr
            %td= link_to ebsdd.bordereau_id.to_s.scan(/(\d{4})(\d{2})(\d{2})(\d{4})/).join(" "), ebsdd_path(ebsdd)
            %td.text-center
              = ebsdd.ecodds_id.nil? ? "-" : ebsdd.ecodds_id
            %td
              = link_to truncate(ebsdd.producteur.nom.titleize, length: 50), producteur_path(ebsdd.producteur), class:"touletip", title: ebsdd.producteur.nom.titleize
            -#%td= ebsdd.destinataire_nom.titleize
            %td.text-center
              - if ebsdd.produit.nil? || ebsdd.produit.nom.nil?
                \-
              - else
                .touletip{title: "#{ ebsdd.libelle.titleize }" }
                  = truncate(ebsdd.denomination_cadre_3.titleize, length: 25)
            -#%td= ebsdd.bordereau_date_creation.strftime("%d/%m/%Y")
            %td
              - if ebsdd.bordereau_date_transport.nil?
                = ebsdd.bordereau_date_creation.strftime("%d/%m/%Y")
                (création)
              - else
                = ebsdd.bordereau_date_transport.strftime("%d/%m/%Y")
            %td
              = ebsdd.poids_pretty
            - if ebsdd.status == :en_attente
              %td.text-center
                = link_to(fa_icon("dropbox lg", text: ""), ebsdd_pesee_path(ebsdd), class: "btn btn-primary touletip btn-xs",
                  title: "Effectuer une pesée")

            %td.text-center
              .text-center.btn-group
                = link_to(fa_icon("gears lg", text: ""), edit_ebsdd_path(ebsdd), class: "btn btn-warning touletip btn-xs",
                  role: "button", title: "Complèter") if ebsdd.is_incomplete?

                = link_to(fa_icon("circle-o lg", text: ""), "#", class: "nouveau_statut btn btn-success touletip btn-xs",
                  role: "button", title: "Mettre le déchêt en Attente") if ebsdd.is_nouveau?

                = link_to(fa_icon("circle-o lg", text: ""), "#", class: "en_attente_statut btn btn-success touletip btn-xs",
                  role: "button", title: "Le déchêt est prêt à sortir") if ebsdd.status == :en_attente

                -#= link_to(fa_icon("eye lg", text: ""), ebsdd_path(ebsdd), class: "btn btn-primary touletip btn-xs", role: "button", title: "Voir les détails de cet eBSDD (##{ebsdd.bid == "#" ? ebsdd.bordereau_id : ebsdd.bid})")
                = link_to(fa_icon("edit lg", text: ""), edit_ebsdd_path(ebsdd), class: "btn btn-warning touletip btn-xs",
                  role: "button", title: "Modifier cet eBSDD (##{ebsdd.bid == "#" ? ebsdd.bordereau_id : ebsdd.bid})") unless ebsdd.is_incomplete? || ebsdd.status == :attente_sortie
                = link_to(fa_icon("cloud-download lg", text: ""), ebsdd_download_path(ebsdd), class: "btn btn-info touletip btn-xs",
                  role: "button", title: "Télécharger l'eBSDD ##{ebsdd.bid == "#" ? ebsdd.bordereau_id : ebsdd.bid} au format CSV") if ebsdd.status == :complet

                = link_to(fa_icon("print lg", text: ""), ebsdd_printpdf_path(ebsdd, status: :first_part), class: "btn btn-success touletip btn-xs",
                  role: "button", title: "Télécharger le Cerfa avant la collecte pour l'eBSDD ##{ebsdd.bid}") if ebsdd.status == :nouveau

                = link_to(fa_icon("print lg", text: ""), ebsdd_printpdf_path(ebsdd, status: :second_part), class: "check-poids btn btn-success touletip btn-xs",
                  role: "button", title: "Télécharger la deuxième partie du Cerfa pour l'eBSDD ##{ebsdd.bid}") if [:en_attente, :attente_sortie, :clos].include? ebsdd.status

                = link_to(fa_icon("print lg", text: ""), ebsdd_pesee_pdf_path(ebsdd), class: "check-poids btn btn-primary touletip btn-xs #{ebsdd.pesees.any? ? '': 'disabled' }",
                  role: "button", title: "Télécharger le ticket de pesée pour l'eBSDD ##{ebsdd.bid}") if [:en_attente, :attente_sortie, :clos].include? ebsdd.status

                = link_to(fa_icon("print lg", text: ""), ebsdd_printpdf_path(ebsdd, status: :full), class: "btn btn-info touletip btn-xs check-poids",
                  role: "button", title: "Télécharger le Cerfa Complet pour l'eBSDD ##{ebsdd.bid}") if ebsdd.status == :en_attente

                = fa_link_to ebsdd, "", "times lg", class: "btn btn-danger touletip btn-xs", role: "button", title: "Supprimer #{ebsdd.bid == "#" ? ebsdd.bordereau_id : ebsdd.bid} ?", method: :delete, data: { confirm: "êtes vous sur de vouloir supprimer l'élément #{ebsdd.bid == "#" ? ebsdd.bordereau_id : ebsdd.bid} ?" } if ebsdd.is_nouveau? || ebsdd.status == :en_attente || current_utilisateur.is_admin?

                = fa_link_to ebsdd_download_path(ebsdd), "", "cloud-download lg", class: "btn btn-success touletip btn-xs",
                  role: "button", title: "Exporter au format ECODDS" if (ebsdd.is_complete? || ebsdd.is_clos?) && ebsdd.is_ecodds
-else
  .center-block
    %p.text-center
      = fa_icon "times-circle pull-left ccc lg"
      Aucun eBSDD. Veuillez importer un fichier Excel pour commencer.
