= custom_form(@ebsdd) do |f|
  %h1.underline
    = fa_icon "tags"
    Complèter l'eBSDD

    = content_tag :button, type: :submit, id: "save-ebsdd-btn", class: "btn btn-success pull-right mg-l-5" do
      = fa_icon "save lg"
      &nbsp;Enregistrer les modifications
    .btn-group.pull-right

      %button.btn.btn-primary.dropdown-toggle{ type: "button", "data-toggle" => :dropdown}
        = fa_icon "cogs lg"
        &nbsp;
        Actions
        %span.caret
      %ul.dropdown-menu{role: "menu"}
        %li
          = fa_link_to ebsdd_path(@ebsdd), "Voir le eBSDD", "edit lg"
        - unless @ebsdd.is_incomplete?
          %li
            = fa_link_to ebsdd_annexe_path, "Exporter l'Annexe 2", "cloud-download lg"
          %li
            = fa_link_to ebsdd_download_path, "Exporter au format ECODDS", "cloud-download lg"
        %li.divider
        %li
          = fa_link_to ebsdds_path, "Voir tous les eBSDDs", "tags lg"


  - if @ebsdd.errors.any?
    .row
      .col-md-12
        .alert.alert-danger.alert-dismissable
          %button.close{ type: "button", "data-dismiss" => "alert", "aria-hidden" => "true"} &times;
          #error_explanation
            %h2
              Merci de corriger
              = @ebsdd.errors.count > 1 ? "les" : "l'"
              = pluralize(@ebsdd.errors.count, "erreur")
              = @ebsdd.errors.count > 1 ? "suivantes :" : "suivante :"
            %ul
              - @ebsdd.errors.full_messages.each do |msg|
                %li
                  = msg
  %div#edit

    -#= f.check_box :is_ecodds, placeholder: "Bordereau ECODDS"
    -#= f.label :bordereau_id, "Bordereau ECODDS"
    .row
      =# ebsdds/edit/cadre 1
      .col-md-12
        .panel.panel-default
          .panel-heading
            %h3.panel-title
              =# fa_icon "tags ccc"
              %span.badge 0
              Numéro ECODDS
              %span.pull-right
                Statut
                %span#status.label.label-info #{@ebsdd.status.to_s.gsub("_", " ")}
          .panel-body
            .row
              .col-md-4
                .form-group
                  = f.label :ecodds_id, "Numéro ECODDS"
                  = f.text_field :ecodds_id, placeholder: "Numéro ECODDS"
              .col-md-4
                .form-group
                  = f.label :bordereau_id, "Numéro de Bordereau"
                  = f.text_field :bordereau_id, placeholder: "Numéro de bordereau", disabled: true
              - unless @ebsdd[:libelle].nil?
                .col-md-4
                  .form-group
                    %label
                      Libellé EPICEA :
                    %br
                    = @ebsdd.libelle
    .row
      =# ebsdds/edit/cadre 1
      .col-md-6
        .panel.panel-default
          .panel-heading
            %h3.panel-title
              =# fa_icon "tags ccc"
              %span.badge 1
              Emetteur du bordereau
          .panel-body
            = render partial: "ebsdds/edit/cadre1", object: f, as: :f, locals: {producteur: @ebsdd.producteur}
      =# ebsdds/edit/cadre 2
      .col-md-6
        .panel.panel-default
          .panel-heading
            %h3.panel-title
              %span.badge 2
              =# fa_icon "gears ccc"
              Installation de destination / entreposage / reconditionnement
          .panel-body
            = render partial: "ebsdds/new/cadre2", object: f, as: :f
    =# ebsdds/edit/cadre 3
    .row
      .col-md-12
        .panel.panel-default
          .panel-heading
            %h3.panel-title
              %span.badge 3
              Dénomination du déchet
          .panel-body
            = render partial: "ebsdds/edit/cadre3", object: f, as: :f, locals: { ebsdd: @ebsdd }

    =# ebsdds/edit/cadre 4
    .row
      .col-md-12
        .panel.panel-default
          .panel-heading
            %h3.panel-title
              %span.badge 4
              Mentions au titre des règlements ADR, RID, ADNR, IMDG (le cas échéant)
          .panel-body
            = render partial: "ebsdds/edit/cadre4", object: f, as: :f

    =# ebsdds/edit/cadre 5
    .row
      .col-md-12
        .panel.panel-default
          .panel-heading
            %h3.panel-title
              %span.badge 5
              Conditionnement
          .panel-body
            = render partial: "ebsdds/edit/cadre5", object: f, as: :f

    =# ebsdds/edit/cadre 6
    .row
      .col-md-12
        .panel.panel-default
          .panel-heading
            %h3.panel-title
              %span.badge 6
              Quantité
          .panel-body
            = render partial: "ebsdds/edit/cadre6", object: f, as: :f, locals: { ebsdd: @ebsdd }

    =# ebsdds/edit/cadre 7
    .row
      .col-md-12
        .panel.panel-default
          .panel-heading
            %h3.panel-title
              %span.badge 7
              Négociant
          .panel-body

    =# ebsdds/edit/cadre 8
    .row
      .col-md-12
        .panel.panel-default
          .panel-heading
            %h3.panel-title
              %span.badge 8
              Collecteur-transporteur
          .panel-body
            = render partial: "ebsdds/edit/cadre8", object: f, as: :f, locals: { ebsdd: @ebsdd, collecteur: @collecteur }

    =# ebsdds/edit/cadre 9
    .row
      .col-md-12
        .panel.panel-default
          .panel-heading
            %h3.panel-title
              %span.badge 9
              Déclaration générale de l’émetteur du bordereau :
          .panel-body
            = render partial: "ebsdds/edit/cadre9", object: f, as: :f

    .row
      =# ebsdds/edit/cadre 10
      .col-md-6
        .panel.panel-default
          .panel-heading
            %h3.panel-title
              %span.badge 10
              Expédition reçue à l’installation de destination
          .panel-body
            = render partial: "ebsdds/edit/cadre10", object: f, as: :f, locals: { ebsdd: @ebsdd }
      =# ebsdds/edit/cadre 11
      .col-md-6
        .panel.panel-default
          .panel-heading
            %h3.panel-title
              %span.badge 11
              Réalisation de l’opération :
          .panel-body
            = render partial: "ebsdds/edit/cadre11", object: f, as: :f

    =# ebsdds/edit/cadre 12
    .row
      .col-md-12
        .panel.panel-default
          .panel-heading
            %h3.panel-title
              %span.badge 12
              Destination ultérieure prévue
          .panel-body
            = render partial: "ebsdds/edit/cadre12", object: f, as: :f

    .row
      .col-md-12
        %hr
        %h3.text-center
          À REMPLIR EN CAS D’ENTREPOSAGE PROVISOIRE OU DE RECONDITONNEMENT
        %hr

    =# ebsdds/edit/cadre 13
    .row
      .col-md-6
        .panel.panel-default
          .panel-heading
            %h3.panel-title
              %span.badge 13
              Réception dans l’installation d’entreposage ou de reconditionnement
          .panel-body.entreposage-provisoire
            = render partial: "ebsdds/edit/cadre13", object: f, as: :f

      / ebsdds/edit/cadre 14
      .col-md-6
        .panel.panel-default
          .panel-heading
            %h3.panel-title
              %span.badge 14
              Installation de destination prévue
          .panel-body.entreposage-provisoire
            = render partial: "ebsdds/edit/cadre14", object: f, as: :f

    =# ebsdds/edit/cadre 15
    .row
      .col-md-12
        .panel.panel-default
          .panel-heading
            %h3.panel-title
              %span.badge 15
              Mentions au titre des règlements ADR, RID, ADNR, IMDG (le cas échéant)
          .panel-body.entreposage-provisoire
            = render partial: "ebsdds/edit/cadre15", object: f, as: :f
    =# ebsdds/edit/cadre 16
    .row
      .col-md-12
        .panel.panel-default
          .panel-heading
            %h3.panel-title
              %span.badge 16
              Conditionnement
          .panel-body.entreposage-provisoire
            = render partial: "ebsdds/edit/cadre16", object: f, as: :f
    =# ebsdds/edit/cadre 17
    .row
      .col-md-12
        .panel.panel-default
          .panel-heading
            %h3.panel-title
              %span.badge 17
              Quantité
          .panel-body.entreposage-provisoire
            = render partial: "ebsdds/edit/cadre17", object: f, as: :f

    =# ebsdds/edit/cadre 17
    .row
      .col-md-12
        .panel.panel-default
          .panel-heading
            %h3.panel-title
              %span.badge 18
              Collecteur-transporteur après reconditionnement
          .panel-body.entreposage-provisoire
            = render partial: "ebsdds/edit/cadre18", object: f, as: :f

    =# ebsdds/edit/cadre 17
    .row
      .col-md-12
        .panel.panel-default
          .panel-heading
            %h3.panel-title
              %span.badge 19
              Déclaration de l’exploitant du site d’entreposage ou de reconditionnement 
          .panel-body.entreposage-provisoire
            = render partial: "ebsdds/edit/cadre19", object: f, as: :f
    .row
      .col-md-12
        %hr
        %h3.text-center
          À REMPLIR EN CAS DE TRANSPORT MULTIMODAL
        %hr

    =# ebsdds/edit/cadre 17
    .row
      .col-md-6
        .panel.panel-default
          .panel-heading
            %h3.panel-title
              %span.badge 20
              Collecteur-transporteur n°
          .panel-body.entreposage-provisoire
            = render partial: "ebsdds/edit/cadre20", object: f, as: :f

      .col-md-6
        .panel.panel-default
          .panel-heading
            %h3.panel-title
              %span.badge 21
              Collecteur-transporteur n°
          .panel-body.entreposage-provisoire
            = render partial: "ebsdds/edit/cadre21", object: f, as: :f

    = render partial: "ebsdds/edit/annexe_2", object: f, as: :f

#button-bar{style: "display: none"}
  %p#back-top.text-center.no-margin
    %a.touletip{href: "#edit", title: "Retour en haut de la page", "data-placement" => "left", "data-container" => "body"}
      %i.fa.fa-arrow-circle-up.fa-4x
  %p.text-center.no-margin
    = content_tag :button, type: :submit, id: "floating-save", class: "btn btn-link touletip no-padding no-margin", title: "Enregistrer ce eBSDD", "data-placement" => "left", "data-container" => "body" do
      %span.fa-stack.fa-2x
        %i.fa.fa-square.fa-stack-2x
        %i.fa.fa-save.fa-stack-1x.fa-inverse.fa-lg
