%h1.underline
  = fa_icon "tags"
  Liste des eBSDDs
  %span.small
    = "(#{@ebsdds.total_entries})"

  .btn-group.pull-right
    %button.btn.btn-info.dropdown-toggle{ type: "button", "data-toggle" => :dropdown}
      = fa_icon "cogs lg"
      &nbsp;
      Actions
      %span.caret
    %ul.dropdown-menu{role: "menu"}
      %li
        = fa_link_to new_ebsdd_path, "Créer un nouveau eBSDD", "tag lg"
      %li.divider
      %li
        = fa_link_to new_search_path, "Recherche avancée", "search lg"#, {"data-target" => "#search", "data-toggle" => "modal"}
      %li.divider
      %li
        = fa_link_to ebsdds_import_path, "Importer une liste de eBSDDs", "cloud-upload lg"
      %li.divider
      %li
        = fa_link_to ebsdds_selection_path, "Créer un fichier multi eBSDDs pour EcoDDS", "cloud-upload lg"

%ol.breadcrumb
  %li{ class: "#{@status == :empty ? "active" : ""}" }
    - if @status == :empty
      Tous
    - else
      = link_to "Tous", ebsdds_path
  %li{ class: "#{@status == :incomplets ? "active" : ""}" }
    - if @status == :incomplets
      Incomplets
    - else
      = link_to "Incomplets", ebsdd_status_path(status: :incomplets)
  %li{ class: "#{@status == :complets ? "active" : ""}" }
    - if @status == :complets
      Complets
    - else
      = link_to "Complets", ebsdd_status_path(status: :complets)
  %li{ class: "#{@status == :expedies ? "active" : ""}" }
    - if @status == :expedies
      Expédiés
    - else
      = link_to "Expédiés", ebsdd_status_path(status: :expedies)

= render partial: "ebsdds/ebsdds"
#search.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "searchLabel", role: "dialog", tabindex: "-1"}
-#= render partial: "search"

.center-block.tect-center
  = will_paginate @ebsdds, renderer: BootstrapPagination::Rails, previous_label: t("précédent"), next_label: t("suivant")
