%h1.underline#show
  = fa_icon "tags"
  eBSDD
  %span.small
    ="##{@ebsdd.bordereau_id}"

  .btn-group.pull-right
    %button.btn.btn-info.dropdown-toggle{ type: "button", "data-toggle" => :dropdown}
      = fa_icon "cogs lg"
      &nbsp;
      Actions
      %span.caret
    %ul.dropdown-menu{role: "menu"}
      %li
        = fa_link_to edit_ebsdd_path(@ebsdd), "Modifier cet eBSDD", "edit lg"
      - unless @ebsdd.is_incomplete?
        %li
          = fa_link_to ebsdd_annexe_path, "Exporter l'Annexe 2", "cloud-download lg"
        %li
          = fa_link_to ebsdd_download_path, "Exporter au format ECODDS", "cloud-download lg"
      %li.divider
      %li
        = fa_link_to ebsdd_printpdf_path(@ebsdd), "Télécharger le fichier PDF", "download lg"
      %li
        = fa_link_to ebsdds_path, "Voir tous les eBSDDs", "tags lg"
%ul.nav.nav-tabs
  %li
    %a{"data-toggle" => "tab", href: "#ebsdd_main"} Page principale
  %li
    %a{"data-toggle" => "tab", href: "#ebsdd_optional"} Page secondaire
  %li
    %a{"data-toggle" => "tab", href: "#ebsdd_annexe2"} Annexe 2

.tab-content
  #ebsdd_main.tab-pane.fade.in.active 
    = render partial: "ebsdds/show/ebsdd_main_content", object: @ebsdd, as: :ebsdd
  #ebsdd_optional.tab-pane.fade
    = render partial: "ebsdds/show/ebsdd_second_page", object: @ebsdd, as: :ebsdd
  #ebsdd_annexe2.tab-pane.fade
    = render partial: "ebsdds/show/ebsdd_annexe_2", object: @ebsdd, as: :ebsdd

%p#back-top.text-center.lead
  %a{href: "#show"}
    %i.fa.fa-arrow-circle-up.fa-5x
    %br Haut de la page
