%h1.underline
  = fa_icon "tags"
  eBSDD
  %span.small
    ="##{@ebsdd.bordereau_id}"
  = fa_link_to edit_ebsdd_path(@ebsdd), "Modifier cet eBSDD", "edit lg", class: "btn btn-info pull-right"
  - unless @ebsdd.is_incomplete?
    = fa_link_to ebsdd_annexe_path, "Exporter l'Annexe 2", "cloud-download lg", class: "btn btn-warning pull-right mg-r-5"
    = fa_link_to ebsdd_download_path, "Exporter au format CSV", "cloud-download lg", class: "btn btn-warning pull-right mg-r-5"
%ul.nav.nav-tabs
  %li
    %a{"data-toggle" => "tab", href: "#ebsdd_main"} Page principale
  %li
    %a{"data-toggle" => "tab", href: "#ebsdd_optional"} Page secondaire
  %li
    %a{"data-toggle" => "tab", href: "#ebsdd_annexe2"} Annexe 2

.tab-content
  #ebsdd_main.tab-pane.fade.in.active 
    = render partial: "ebsdds/show/ebsdd_main_content", object: @ebsdd, as: :ebsdd
  #ebsdd_optional.tab-pane.fade
    = render partial: "ebsdds/show/ebsdd_second_page", object: @ebsdd, as: :ebsdd
  #ebsdd_annexe2.tab-pane.fade
    = render partial: "ebsdds/show/ebsdd_annexe_2", object: @ebsdd, as: :ebsdd
