%h1.underline#show
  = fa_icon "tags"
  eBSDD
  %span.small
    ="##{@ebsdd.bordereau_id}"

  .btn-group.pull-right
    %button.btn.btn-info.dropdown-toggle{ type: "button", "data-toggle" => :dropdown}
      = fa_icon "cogs lg"
      &nbsp;
      Actions
      %span.caret
    %ul.dropdown-menu{role: "menu"}
      %li
        = fa_link_to edit_ebsdd_path(@ebsdd), "Modifier cet eBSDD", "edit lg"
      - if (@ebsdd.is_complete? || @ebsdd.is_clos?) && @ebsdd.is_ecodds
        %li
          = fa_link_to ebsdd_annexe_path, "Exporter l'Annexe 2", "cloud-download lg"
        %li
          = fa_link_to ebsdd_download_path, "Exporter au format ECODDS", "cloud-download lg"
      -#- unless @ebsdd.is_incomplete? || @ebsdd.status == :nouveau
      %li.divider
      %li
        = fa_link_to ebsdd_printpdf_path(@ebsdd, status: :nouveau ), "Télécharger le fichier PDF", "download lg"
      %li
        = fa_link_to new_ebsdd_path, "Créer un nouvel eBSDD", "sign-in lg"
      %li
        = fa_link_to ebsdds_path(status: :nouveau), "Voir tous les nouveaux eBSDDs", "tags lg"
      %li
        = fa_link_to ebsdds_path(status: :en_attente), "Voir tous les eBSDDs en Attente de Réception", "tags lg"
      %li
        = fa_link_to ebsdds_path(status: :attente_sortie), "Voir tous les eBSDDs en Stock", "tags lg"
      %li
        = fa_link_to ebsdds_path(status: :clos), "Voir tous les eBSDDs Archivés", "tags lg"
%ul.nav.nav-tabs
  %li
    %a{"data-toggle" => "tab", href: "#ebsdd_main"} Page principale
  %li
    %a{"data-toggle" => "tab", href: "#ebsdd_optional"} Page secondaire
  %li
    %a{"data-toggle" => "tab", href: "#ebsdd_annexe2"} Annexe 2

.tab-content
  #ebsdd_main.tab-pane.fade.in.active
    = render partial: "ebsdds/show/ebsdd_main_content", object: @ebsdd, as: :ebsdd
  #ebsdd_optional.tab-pane.fade
    = render partial: "ebsdds/show/ebsdd_second_page", object: @ebsdd, as: :ebsdd
  #ebsdd_annexe2.tab-pane.fade
    = render partial: "ebsdds/show/ebsdd_annexe_2", object: @ebsdd, as: :ebsdd

#button-bar{style: "display: none"}
  %p#back-top.text-center.no-margin
    %a.touletip{href: "#edit", title: "Retour en haut de la page", "data-placement" => "left", "data-container" => "body"}
      %i.fa.fa-arrow-circle-up.fa-4x
