%h1.underline
  = fa_icon "dashboard "
  Statistiques
.row.panel-fd
  .col-md-12
    #accordion.panel-group
      .panel.panel-default
        .panel-heading
          %h4.panel-title.statistiques
            %a{"data-toggle" => "collapse", :href => "#collapseTwo"}
              %i.fa.fa-truck
              Volume par camion du
              %span#ca-du
              au
              %span#ca-au

            %form.form-inline.pull-right.statistiques{:role => "form", action: "/statistiques/camions", method: "post"}
              Du
              .form-group
                %label.sr-only
                %input#ca-date-min.form-control.input-sm
              au
              .form-group
                %label.sr-only
                %input#ca-date-max.form-control.input-sm
              %button.btn.btn-primary.input-sm#ca-show
                %i.fa.fa-search
              %a#ca-2-excel.btn.btn-success.btn-sm.fa.fa-file-excel-o.touletip{title: "Téléchargez les données pour la période sélectionnée...", href:"/statistiques/camions_to_csv.csv"}
            %span.clearfix
        #collapseTwo.panel-collapse.collapse
          .panel-body
            = render partial: 'camions', object: @camions
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %a{"data-toggle" => "collapse", :href => "#collapseThree"}
              %i.fa.fa-building-o
              Statistiques Destinations ultérieures
        #collapseThree.panel-collapse.collapse
          .panel-body
            .row
              .col-md-12
                .well
                  %form.form-inline{:role => "form", action: "/statistiques/destinations", method: "post"}
                    %p.pull-left Destinations
                    .form-group.col-xs-4
                      %label.sr-only
                      %input#dest-select.form-control.input-sm
                    du
                    .form-group
                      %label.sr-only
                      %input#dest-date-min.form-control.input-sm
                    au
                    .form-group
                      %label.sr-only
                      %input#dest-date-max.form-control.input-sm
                    %button.btn.btn-primary.input-sm#dest-show
                      %i.fa.fa-search
                    %a#dest-2-excel.btn.btn-success.btn-sm.fa.fa-file-excel-o.touletip{title: "Téléchargez les données pour la période sélectionnée...", href:"/statistiques/destinations_to_csv.csv"}
            .row#dest-result
              .col-md-12
                .well.well-sm
                  .row
                    .col-md-4
                      %p
                        %strong
                          Destination :
                          %span#dest-nom
                    .col-md-8
                      %p
                        %strong
                          Poids total sur la période du
                          %span#dest-du
                          au
                          %span#dest-au
                          = ":"
                          %span#dest-poids-total
                          tonnes

            #dest{"data-dest" => "#{@dest.to_json}" }
      - if @alertes.any?
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a{"data-toggle" => "collapse", :href => "#collapseOne"}
                %i.fa.fa-exclamation-circle
                Seuils d'alertes
          #collapseOne.panel-collapse.collapse
            .panel-body
              = render partial: 'dashboard/alertes', object: @alertes
      .panel.panel-default
        .panel-heading
          %h4.panel-title.statistiques
            %a{"data-toggle" => "collapse", :href => "#collapseFour"}
              %i.fa.fa-recycle
              Quantites de dechets du
              %span#qte-du
              au
              %span#qte-au

            %form.form-inline.pull-right.statistiques{:role => "form", action: "/statistiques/quantites", method: "post"}
              Du
              .form-group
                %label.sr-only
                %input#qte-date-min.form-control.input-sm
              au
              .form-group
                %label.sr-only
                %input#qte-date-max.form-control.input-sm
              %button.btn.btn-primary.input-sm.touletip#qte-show{title: "Rechercher !"}
                %i.fa.fa-search
              %a#qte-2-excel.btn.btn-success.btn-sm.fa.fa-file-excel-o.touletip{title: "Téléchargez les données pour la période sélectionnée...", href:"/statistiques/quantites_to_csv.csv"}
            %span.clearfix
        #collapseFour.panel-collapse.collapse
          .panel-body
            #qtes{"data-qtes" => "#{@quantites.to_json}" }
            %table.table.table-striped#qtes-table
              %thead
                %th Nom
                %th Poids (tonnes)
              %tbody
