.row
  .col-md-12
    %hr
    %h3.text-center
      Annexe 2
    %hr

/ Annexe
.row
  .col-md-6
    .panel.panel-default
      .panel-heading
        %h3.panel-title
          %span.badge 17
          Emetteur Bordereau
      .panel-body.entreposage-provisoire
        .row
          .col-md-12
            .form-group
              = f.label :emetteur_siret, "SIRET"
              = f.text_field :emetteur_siret, placeholder: "SIRET"

          .col-md-12
            .form-group
              = f.label :emetteur_sortie_nom, "Nom"
              = f.text_field :emetteur_sortie_nom, placeholder: "Nom"

          .col-md-12
            .form-group
              = f.label :emetteur_responsable, "Contact"
              = f.text_field :emetteur_responsable, placeholder: "Contact"
          .col-md-12
            .form-group
              = f.label :emetteur_adresse, "Adresse"
              = f.text_field :emetteur_adresse, placeholder: "Adresse"

          .col-md-12
            .form-group
              = f.label :emetteur_cp, "Code postal"
              = f.text_field :emetteur_cp, placeholder: "Code postal"

          .col-md-12
            .form-group
              = f.label :emetteur_ville, "Ville"
              = f.text_field :emetteur_ville, placeholder: "Ville"

        .row
          .col-md-6
            .form-group
              = f.label :emetteur_tel, "Téléphone"
              = f.text_field :emetteur_tel, placeholder: "Téléphone"

          .col-md-6
            .form-group
              = f.label :emetteur_fax, "Fax"
              = f.text_field :emetteur_fax, placeholder: "Fax"

        .row
          .col-md-12
            .form-group
              = f.label :emetteur_email, "Adresse email"
              = f.text_field :emetteur_email, placeholder: "Adresse email"
  .col-md-6
    .panel.panel-default
      .panel-heading
        %h3.panel-title
          Ligne flux de déchet
      .panel-body.entreposage-provisoire
        .row
          .col-md-12
            .form-group
              = f.label :ligne_flux_siret, "SIRET"
              = f.text_field :ligne_flux_siret, placeholder: "SIRET"

          .col-md-12
            .form-group
              = f.label :ligne_flux_nom, "Nom"
              = f.text_field :ligne_flux_nom, placeholder: "Nom"

          .col-md-12
            .form-group
              = f.label :ligne_flux_responsable, "Contact"
              = f.text_field :ligne_flux_responsable, placeholder: "Contact"
          .col-md-12
            .form-group
              = f.label :ligne_flux_adresse, "Adresse"
              = f.text_field :ligne_flux_adresse, placeholder: "Adresse"

          .col-md-12
            .form-group
              = f.label :ligne_flux_cp, "Code postal"
              = f.text_field :ligne_flux_cp, placeholder: "Code postal"

          .col-md-12
            .form-group
              = f.label :ligne_flux_ville, "Ville"
              = f.text_field :ligne_flux_ville, placeholder: "Ville"

        .row
          .col-md-6
            .form-group
              = f.label :ligne_flux_tel, "Téléphone"
              = f.text_field :ligne_flux_tel, placeholder: "Téléphone"

          .col-md-6
            .form-group
              = f.label :ligne_flux_fax, "Fax"
              = f.text_field :ligne_flux_fax, placeholder: "Fax"

        .row
          .col-md-12
            .form-group
              = f.label :ligne_flux_email, "Adresse email"
              = f.text_field :ligne_flux_email, placeholder: "Adresse email"

        .row
          .col-md-8
            .form-group
              = f.label :ligne_flux_conditionnement_ult, "Type de conditionnement"
              = f.select :ligne_flux_conditionnement_ult, DechetContenant.to_select

          .col-md-4
            .form-group
              = f.label :ligne_flux_nombre_colis_ult, "Nombre de colis"
              = f.select :ligne_flux_nombre_colis_ult, (1..30).map{|i| [i,i]}

          .col-md-6
            .form-group
              = f.label :ligne_flux_poids, "Poids"
              = f.text_field :ligne_flux_poids, placeholder: "Poids"

          .col-md-6
            .form-group
              = f.label :ligne_flux_date_remise, "Date de remise"
              = f.text_field :ligne_flux_date_remise, placeholder: "Date de remise"


