.row
  .col-md-4
    .form-group
      = f.label :dechet_denomination, "Dénomination usuelle du déchet"
      = f.select :dechet_denomination, DechetDenomination.to_select, :prompt => "Sélectionnez une dénomination..."

  .col-md-3
    .form-group
      %b Code rubrique déchet
      %p#code_rubrique_dechet
        = @ebsdd.dechet_denomination

  .col-md-5
    .form-group
      = f.label :dechet_consistance, "Consistance"
      %br
      %label.radio-inline
        = f.radio_button :dechet_consistance, 0, checked: true
        Solide
        =#input type="checkbox" id="inlineCheckbox1" value="option1"> 1
      %label.radio-inline
        = f.radio_button :dechet_consistance, 1
        Liquide
      %label.radio-inline
        = f.radio_button :dechet_consistance, 2
        Gazeux

