.row
  .col-md-12
    .form-group
      = f.label :collecteur_id, "Collecteur"
      %br
      .input-group
        = f.select :collecteur_id, Collecteur.all.map{ |p| [p.nom, p.id] }
        %span.input-group-btn
          %a.btn.btn-primary{href: "#{new_collecteur_path}", target: "_blank" } Nouveau

  .col-md-4
    .form-group
      = f.label :bordereau_date_transport, "Date de transport :"
      = f.text_field :bordereau_date_transport, placeholder: "Date de transport", class: "datepicker", value: date_transport

.row#immatriculations
  .col-md-8
    .form-group
      = f.label :immatriculation, "Sélectionnez l'immatriculation du camion"
      = f.select :immatriculation, Immatriculation.to_select, prompt: "Sélectionnez l'immatriculation..."
    ou
    .form-group
      %label Ajoutez une nouvelle plaque d'immatriculation
      .input-group
        %input#immatriculation-new.form-control{ type: :text }
        %span.input-group-btn
          %button#add-immatriculation.btn.btn-default{ type: :button }
            = fa_icon :truck
            Créer

