-#- @productable.valid? unless @ebsdd.new_record?
-#= f.fields_for :productable do | p |

  -#- if @productable.errors.any?
    -#.row
      -#.col-md-12
        -#.alert.alert-danger.alert-dismissable
          -#%button.close{ type: "button", "data-dismiss" => "alert", "aria-hidden" => "true"} &times;
          -#%div{id: "error_explanation"}
            -#%p
              -#Veuillez corriger
              -#= @productable.errors.count > 1 ? "les" : "l'"
              -#= pluralize(@productable.errors.count, "erreur")
              -#= @productable.errors.count > 1 ? "suivantes :" : "suivante :"
            -#%ul
              -#- @productable.errors.full_messages.each do |msg|
                -#%li
                  -#= msg
.row
  .col-md-12
    .form-group
      = f.label :productable_id, "Producteur", class: "disabled"
      %br
      - if @ebsdd.new_record?
        - @ebsdd.productable_id = nil
      = f.select :productable_id, Producteur.all.asc(:nom).map{ |p| [p.nom, p.id] }, prompt: "Sélectionnez un producteur..."
#producteur.panel-group
  .panel.panel-default.panel-info
    .panel-heading
      %h4.panel-title
        %a{"data-toggle"=>"collapse", href: "#producteur_infos" }
          Informations détaillées
    #producteur_infos.collapse.panel-body
      .row
        .col-md-12
          .form-group
            %label SIRET
            = text_field_tag :productable_siret, nil, placeholder: "SIRET", class: "disabled form-control"
        .col-md-12
          .form-group
            %label Nom
            = text_field_tag :productable_nom, nil, placeholder: "Nom", class: "disabled form-control"


        .col-md-12
          .form-group
            %label Contact
            = text_field_tag :productable_responsable, nil, placeholder: "Contact", class: "disabled form-control"
        .col-md-12
          .form-group
            %label Adresse
            = text_field_tag :productable_adresse, nil, placeholder: "Adresse", class: "disabled form-control"

        .col-md-12
          .form-group
            %label Code postal
            = text_field_tag :productable_cp, nil, placeholder: "Code postal", class: "disabled form-control"

        .col-md-12
          .form-group
            %label Ville
            = text_field_tag :productable_ville, nil, placeholder: "Ville", class: "disabled form-control"

      .row
        .col-md-6
          .form-group
            %label Téléphone
            = text_field_tag :productable_tel, nil, placeholder: "Téléphone", class: "disabled form-control"

        .col-md-6
          .form-group
            %label Fax
            = text_field_tag :productable_fax, nil, placeholder: "Fax", class: "disabled form-control"

      .row
        .col-md-12
          .form-group
            %label Adresse email
            = text_field_tag :productable_email, nil, placeholder: "Adresse email", class: "disabled form-control"

  -#%div#productable_info
    -#.row
      -#.col-md-12
        -#.form-group
          -#= p.label :siret, "SIRET", class: "disabled"
          -#= p.text_field :siret, placeholder: "SIRET", class: "disabled"

      -#.col-md-12
        -#.form-group
          -#= p.label :responsable, "Contact", class: "disabled"
          -#= p.text_field :responsable, placeholder: "Contact", class: "disabled"
      -#.col-md-12
        -#.form-group
          -#= p.label :adresse, "Adresse", class: "disabled"
          -#= p.text_field :adresse, placeholder: "Adresse", class: "disabled"

    -#.row
      -#.col-md-6
        -#.form-group
          -#= p.label :cp, "Code postal", class: "disabled"
          -#= p.text_field :cp, placeholder: "Code postal", class: "disabled"

      -#.col-md-6
        -#.form-group
          -#= p.label :ville, "Ville", class: "disabled"
          -#= p.text_field :ville, placeholder: "Ville", class: "disabled"

    -#.row
      -#.col-md-6
        -#.form-group
          -#= p.label :tel, "Téléphone", class: "disabled"
          -#= p.text_field :tel, placeholder: "Téléphone", class: "disabled"

      -#.col-md-6
        -#.form-group
          -#= p.label :fax, "Fax", class: "disabled"
          -#= p.text_field :fax, placeholder: "Fax", class: "disabled"

    -#.row
      -#.col-md-12
        -#.form-group
          -#= p.label :email, "Adresse email", class: "disabled"
          -#= p.text_field :email, placeholder: "Adresse email", class: "disabled"

