- @productable.valid? unless @ebsdd.new_record?
= f.fields_for :productable do | p |

  - if @productable.errors.any?
    .row
      .col-md-12
        .alert.alert-danger.alert-dismissable
          %button.close{ type: "button", "data-dismiss" => "alert", "aria-hidden" => "true"} &times;
          %div{id: "error_explanation"}
            %p
              Veuillez corriger
              = @productable.errors.count > 1 ? "les" : "l'"
              = pluralize(@productable.errors.count, "erreur")
              = @productable.errors.count > 1 ? "suivantes :" : "suivante :"
            %ul
              - @productable.errors.full_messages.each do |msg|
                %li
                  = msg
  .row
    .col-md-12
      .form-group
        = f.label :productable_id, "Producteur", class: "disabled"
        %br
        = f.select :productable_id, Producteur.all.asc(:nom).map{ |p| [p.nom, p.id] }

  %div#productable_info
    .row
      .col-md-12
        .form-group
          = p.label :siret, "SIRET", class: "disabled"
          = p.text_field :siret, placeholder: "SIRET", class: "disabled"

      .col-md-12
        .form-group
          = p.label :responsable, "Contact", class: "disabled"
          = p.text_field :responsable, placeholder: "Contact", class: "disabled"
      .col-md-12
        .form-group
          = p.label :adresse, "Adresse", class: "disabled"
          = p.text_field :adresse, placeholder: "Adresse", class: "disabled"

    .row
      .col-md-6
        .form-group
          = p.label :cp, "Code postal", class: "disabled"
          = p.text_field :cp, placeholder: "Code postal", class: "disabled"

      .col-md-6
        .form-group
          = p.label :ville, "Ville", class: "disabled"
          = p.text_field :ville, placeholder: "Ville", class: "disabled"

    .row
      .col-md-6
        .form-group
          = p.label :tel, "Téléphone", class: "disabled"
          = p.text_field :tel, placeholder: "Téléphone", class: "disabled"

      .col-md-6
        .form-group
          = p.label :fax, "Fax", class: "disabled"
          = p.text_field :fax, placeholder: "Fax", class: "disabled"

    .row
      .col-md-12
        .form-group
          = p.label :email, "Adresse email", class: "disabled"
          = p.text_field :email, placeholder: "Adresse email", class: "disabled"

