= f.fields_for :producteur do | p |
  .row
    .col-md-12
      .form-group
        = f.label :producteur_id, "Producteur", class: "disabled"
        %br
        = f.select :producteur_id, Producteur.all.asc(:nom).map{ |p| [p.nom, p.id] }

  %div#producteur_info
    .row
      .col-md-12
        .form-group
          = p.label :siret, "SIRET", class: "disabled"
          = p.text_field :siret, placeholder: "SIRET", class: "disabled"

      .col-md-12
        .form-group
          = p.label :responsable, "Contact", class: "disabled"
          = p.text_field :responsable, placeholder: "Contact", class: "disabled"
      .col-md-12
        .form-group
          = p.label :adresse, "Adresse", class: "disabled"
          = p.text_field :adresse, placeholder: "Adresse", class: "disabled"

    .row
      .col-md-6
        .form-group
          = p.label :cp, "Code postal", class: "disabled"
          = p.text_field :cp, placeholder: "Code postal", class: "disabled"

      .col-md-6
        .form-group
          = p.label :ville, "Ville", class: "disabled"
          = p.text_field :ville, placeholder: "Ville", class: "disabled"

    .row
      .col-md-6
        .form-group
          = p.label :tel, "Téléphone", class: "disabled"
          = p.text_field :tel, placeholder: "Téléphone", class: "disabled"

      .col-md-6
        .form-group
          = p.label :fax, "Fax", class: "disabled"
          = p.text_field :fax, placeholder: "Fax", class: "disabled"

    .row
      .col-md-12
        .form-group
          = p.label :email, "Adresse email", class: "disabled"
          = p.text_field :email, placeholder: "Adresse email", class: "disabled"

