.row
  .col-md-3
    .form-group
      = f.label :mode_transport, "Mode de transport"
      = f.select :mode_transport, [["Route", 1], ["Aérien", 2], ["Ferroviaire", 3], ["Fluvial", 3], ["Maritime", 5]]
  .col-md-3
    .form-group
      = f.label :recepisse, "Recepissé"
      = f.text_field :recepisse, placeholder: "Numéro de recepissé"
  .col-md-3
    .form-group
      = f.label :bordereau_limite_validite, "Limite de validité du bordereau"
      = f.text_field :bordereau_limite_validite, placeholder: "Limite de validité", value: 10.days.from_now.strftime("%Y-%m-%d"), class: "datepicker"
  .col-md-3
    .form-group
      = f.label :transport_multimodal, "Transport multimodal"
      %br
      %label.radio-inline
        = f.radio_button :transport_multimodal, true, checked: true
        Oui
      %label.radio-inline
        = f.radio_button :transport_multimodal, false
        Non
