.form-group
  = f.label :entreposage_provisoire, "Entreposage provisoire ou reconditionnement"
  %br
  %label.radio-inline
    = f.radio_button :entreposage_provisoire, true, checked: true
    Oui
  %label.radio-inline
    = f.radio_button :entreposage_provisoire, false
    Non

.form-group
  .has-error
    = f.label :num_cap, "Numéro CAP"
  .has-error
    = f.text_field :num_cap, placeholder: "Numéro CAP"

.form-group
  = f.label :valorisation_prevue, "Valorisation prévue"
  = f.select :valorisation_prevue, CodeDr.to_select
