.row
  .col-md-12
    .form-group
      = f.label :collectable_id, "Collecteur"
      %br
      = f.select :collectable_id, Producteur.collecteurs.map{ |p| [p.nom, p.id] }

    -#.form-group
      -#= f.label :mode_transport, "Mode de transport"
      -#= f.select :mode_transport, [["Route", 1], ["Aérien", 2], ["Ferroviaire", 3], ["Fluvial", 3], ["Maritime", 5]]
  -#.col-md-3
    -#.form-group
      -#= f.label :recepisse, "Recepissé"
      -#= f.text_field :recepisse, placeholder: "Numéro de recepissé"
  -#.col-md-3
    -#.form-group
      -#= f.label :bordereau_limite_validite, "Limite de validité du bordereau"
      -#= f.text_field :bordereau_limite_validite, placeholder: "Limite de validité", class: "datepicker", value: ebsdd.bordereau_limite_validite.strftime("%d-%m-%Y")
  -#.col-md-3
    -#.form-group
      -#= f.label :transport_multimodal, "Transport multimodal"
      -#%br
      -#%label.radio-inline
        -#= f.radio_button :transport_multimodal, true
        -#Oui
      -#%label.radio-inline
        -#= f.radio_button :transport_multimodal, false
        -#Non
-#- destination.valid?
-#= f.fields_for destination do | coll |

  -#- if destination.errors.any?
    -#.row
      -#.col-md-12
        -#.alert.alert-danger.alert-dismissable
          -#%button.close{ type: "button", "data-dismiss" => "alert", "aria-hidden" => "true"} &times;
          -#%div{id: "error_explanation"}
            -#%p
              -#Veuillez corriger
              -#= destination.errors.count > 1 ? "les" : "l'"
              -#= pluralize(destination.errors.count, "erreur")
              -#= destination.errors.count > 1 ? "suivantes :" : "suivante :"
            -#%ul
              -#- destination.errors.full_messages.each do |msg|
                -#%li
                  -#= msg
  -#%div#destination_info
    -#.row
      -#.col-md-3
        -#.form-group
          -#= coll.label :siret, "SIRET", class: "disabled"
          -#= coll.text_field :siret, placeholder: "SIRET", class: "disabled"

      -#.col-md-3
        -#.form-group
          -#= coll.label :responsable, "Contact", class: "disabled"
          -#= coll.text_field :responsable, placeholder: "Contact", class: "disabled"
      -#.col-md-3
        -#.form-group
          -#= coll.label :cp, "Code postal", class: "disabled"
          -#= coll.text_field :cp, placeholder: "Code postal", class: "disabled"

      -#.col-md-3
        -#.form-group
          -#= coll.label :ville, "Ville", class: "disabled"
          -#= coll.text_field :ville, placeholder: "Ville", class: "disabled"
    -#.row
      -#.col-md-6
        -#.form-group
          -#= coll.label :adresse, "Adresse", class: "disabled"
          -#= coll.text_field :adresse, placeholder: "Adresse", class: "disabled"

      -#.col-md-3
        -#.form-group
          -#= coll.label :tel, "Téléphone", class: "disabled"
          -#= coll.text_field :tel, placeholder: "Téléphone", class: "disabled"

      -#.col-md-3
        -#.form-group
          -#= coll.label :fax, "Fax", class: "disabled"
          -#= coll.text_field :fax, placeholder: "Fax", class: "disabled"

    -#.row
      -#.col-md-12
        -#.form-group
          -#= coll.label :email, "Adresse email", class: "disabled"
          -#= coll.text_field :email, placeholder: "Adresse email", class: "disabled"
    -#.row
      -#.col-md-4
        -#.form-group
          -#= coll.label :recepisse, "Recepissé", class: "disabled"
          -#= coll.text_field :recepisse, placeholder: "recepisse", class: "disabled"

      -#.col-md-4
        -#.form-group
          -#= coll.label :limite_validite, "Limite de validité", class: "disabled"
          -#= coll.text_field :limite_validite, placeholder: "Limite de validité", class: "disabled datepicker"

    -#-#.row
      -#-#.col-md-12
        -#-#.form-group
          -#-#= coll.label :email, "Adresse email", class: "disabled"
          -#-#= coll.text_field :email, placeholder: "Adresse email", class: "disabled"
.row
  .col-md-8
    .form-group
      = f.label :immatriculation, "Sélectionnez l'immatriculation du camion"
      = f.select :immatriculation, Immatriculation.to_select
    ou
    .form-group
      %label Ajoutez une nouvelle plaque d'immatriculation
      .input-group
        %input#immatriculation-new.form-control{ type: :text }
        %span.input-group-btn
          %button#add-immatriculation.btn.btn-default{ type: :button }
            = fa_icon :truck
            Créer
  .col-md-4
    .form-group
      = f.label :bordereau_date_transport, "Date de transport :"
      = f.text_field :bordereau_date_transport, placeholder: "Limite de validité", class: "datepicker", value: date_transport

