%h1
  %i.fa.fa-search
  Résultats de la recherche
  %small
    {
    = @search.ebsdds.count
    }
  .btn-group.pull-right
    %button.btn.btn-info.dropdown-toggle{ type: "button", "data-toggle" => :dropdown}
      = fa_icon "cogs lg"
      &nbsp;
      Actions
      %span.caret
    %ul.dropdown-menu{role: "menu"}
      %li
        = fa_link_to gestion_matiere_path(format: :csv), "Exporter les résultats", "file-excel-o lg"
      %li.divider

      %li
        = fa_link_to new_search_path, "Nouvelle recherche avancée", "search-plus lg"

%hr
.well
  %h4 Critères
  %p
    - if @search.criteres.any?
      %ol
        - @search.criteres.each do | c |
          %li
            = c.titleize
    - else
      Aucun critère...
- if @search.ebsdds.any?

  %h2.page-header eBSDDs
  %table.table.table-striped.table-hover#search-table
    %thead
      %tr
        %th #
        %th #EcoDDS
        %th Eco DDS ?
        %th Producteur
        -#%th Destinataire
        %th.text-center Type déchet
        %th Date Création
        %th Date Transport
        %th Poids
        %th.text-center Statut
        %th.text-center Actions

    %tbody
      - @search.ebsdds.each do | ebsdd |
        %tr
          %td
            %input.id{type: "hidden"}
            = link_to ebsdd.bid.to_s.scan(/(\d{4})(\d{2})(\d{2})(\d{4})/).join(" "), ebsdd_path(ebsdd)
          %td.text-center
            = ebsdd.ecodds_id.nil? ? "-" : ebsdd.ecodds_id
          %td= raw ebsdd.ecodds_label
          %td
            = link_to truncate(ebsdd.producteur.nom.titleize, length: 50), producteur_path(ebsdd.producteur), class:"touletip", title: ebsdd.producteur.nom.titleize
          -#%td= ebsdd.destinataire_nom.titleize
          %td.text-center
            - if ebsdd.produit.nil? || ebsdd.produit.nom.nil?
              \-
            - else
              .touletip{title: "#{ ebsdd.libelle.titleize }" }
                = truncate(ebsdd.denomination_cadre_3.titleize, length: 25)
          %td= ebsdd.created_at.strftime("%d/%m/%Y")
          %td= ebsdd.bordereau_date_transport.strftime("%d/%m/%Y")
          %td
            = ebsdd.poids_pretty
          %td.text-center= raw ebsdd.status_label


          %td.text-center
            .btn-toolbar{role: :toolbar}
              .text-center.btn-group
                = link_to(fa_icon("circle-o lg", text: ""), statut_precedent_path(ebsdd), class: "btn btn-primary touletip btn-xs #{ebsdd.status == :nouveau ? "disabled" : ""}",
                  role: "button", title: "Passer au statut précédent") if [:nouveau,:en_attente, :attente_sortie, :clos].include? ebsdd.status

                = link_to(fa_icon("circle-o lg", text: ""), statut_suivant_path(ebsdd), class: "btn btn-info touletip btn-xs #{ebsdd.status == :clos ? "disabled" : ""}",
                  role: "button", title: "Passer au statut suivant") if [:nouveau, :en_attente, :attente_sortie, :clos].include? ebsdd.status

              .text-center.btn-group
                = link_to(fa_icon("edit lg", text: ""), edit_ebsdd_path(ebsdd), class: "btn btn-warning touletip btn-xs",
                  role: "button", title: "Modifier cet eBSDD (##{ebsdd.bid == "#" ? ebsdd.bordereau_id : ebsdd.bid})") unless ebsdd.is_incomplete? || ebsdd.status == :attente_sortie

                = link_to(fa_icon("cloud-download lg", text: ""), ebsdd_download_path(ebsdd), class: "btn btn-info touletip btn-xs",
                  role: "button", title: "Télécharger l'eBSDD ##{ebsdd.bid == "#" ? ebsdd.bordereau_id : ebsdd.bid} au format CSV") if ebsdd.status == :complet

                = link_to(fa_icon("print lg", text: ""), ebsdd_printpdf_path(ebsdd, status: :first_part), class: "btn btn-success touletip btn-xs",
                  role: "button", title: "Télécharger le Cerfa avant la collecte pour l'eBSDD ##{ebsdd.bid}") if ebsdd.status == :nouveau

                = link_to(fa_icon("print lg", text: ""), ebsdd_printpdf_path(ebsdd, status: :second_part), class: "check-poids btn btn-success touletip btn-xs",
                  role: "button", title: "Télécharger la deuxième partie du Cerfa pour l'eBSDD ##{ebsdd.bid}") if [:en_attente, :attente_sortie, :clos].include? ebsdd.status

                = link_to(fa_icon("print lg", text: ""), ebsdd_pesee_pdf_path(ebsdd), class: "check-poids btn btn-primary touletip btn-xs #{ebsdd.pesees.any? ? '': 'disabled' }",
                  role: "button", title: "Télécharger le ticket de pesée pour l'eBSDD ##{ebsdd.bid}") if [:en_attente, :attente_sortie, :clos].include? ebsdd.status

                = link_to(fa_icon("print lg", text: ""), ebsdd_printpdf_path(ebsdd, status: :full), class: "btn btn-info touletip btn-xs check-poids",
                  role: "button", title: "Télécharger le Cerfa Complet pour l'eBSDD ##{ebsdd.bid}") if ebsdd.status == :en_attente

                = fa_link_to ebsdd, "", "times lg", class: "btn btn-danger touletip btn-xs", role: "button", title: "Supprimer #{ebsdd.bid == "#" ? ebsdd.bordereau_id : ebsdd.bid} ?", method: :delete, data: { confirm: "êtes vous sur de vouloir supprimer l'élément #{ebsdd.bid == "#" ? ebsdd.bordereau_id : ebsdd.bid} ?" } if ebsdd.is_nouveau? || ebsdd.status == :en_attente || current_utilisateur.is_admin?

                = fa_link_to ebsdd_download_path(ebsdd), "", "cloud-download lg", class: "btn btn-success touletip btn-xs",
                  role: "button", title: "Exporter au format ECODDS" if (ebsdd.is_complete? || ebsdd.is_clos?) && ebsdd.is_ecodds
- else
  - unless @search.bons_de_sortie_only
    .alert.alert-info
      Aucun ebsdd trouvé, veuillez élargir vos critères de recherche.

- if @search.bons_de_sortie_only || @search.bons_de_sortie_inclus || @search.bon_de_sortie_id.present?
  - if @search.bons_de_sortie.any?
    %h2.page-header Bons de Sortie
    %table.table.table-striped#bds
      %thead
        %tr
          %th #
          %th Déchet
          %th.text-center Type déchet
          %th Destination
          %th Transporteur
          %th.text-center Date création
          %th Poids
      %tbody
        - @search.bons_de_sortie.each do | bds |
          %tr
            %td= link_to bds.id, bon_de_sortie_path(bds)
            %td= bds.produit.nom
            %td.text-center
              %label
                = bds.try(:type).try(:to_s)
            %td= link_to bds.destination.nom, destination_path(bds.destination)
            %td
              - if bds.collecteur
                = link_to bds.collecteur.nom, collecteur_path(bds.collecteur)
              - else
                \-
            %td.text-center= bds.created_at.strftime("%d/%m/%Y")
            %td
              = bds.poids
              kg

  - else
    .alert.alert-info
      Aucun bon de sortie trouvé, veuillez élargir vos critères de recherche.

