- if ebsdds.any?
  %tbody
    - ebsdds.each do | ebsdd |
      %tr
        %td
          = check_box_tag "ids[]", ebsdd.bordereau_id, nil, class: "selectEbsdd"
        %td
          = link_to ebsdd.bordereau_id.to_s.scan(/(\d{4})(\d{2})(\d{2})(\d{4})/).join(" "), ebsdd, target: "_blank"
        %td
          = ebsdd.denomination_cadre_3
        %td
          = ebsdd.bordereau_poids
          kg
        %td
          = ebsdd.producteur.nom
        %td
          = ebsdd.bordereau_date_transport.strftime("%d/%m/%y")
