- if ebsdds.any?
  %tbody
    - ebsdds.each do | ebsdd |
      %tr
        %td
          = check_box_tag "ids[]", ebsdd.bid, nil, class: "selectEbsdd"
        %td
          = link_to ebsdd.bid, ebsdd, target: "_blank"
        %td
          = ebsdd.denomination_cadre_3
        %td
          = ebsdd.bordereau_poids
          kg
        %td
          = ebsdd.producteur.nom
        %td
          = ebsdd.bordereau_date_transport.strftime("%d/%m/%y")

- else
  .alert.alert-info
    Aucun eBSDD trouvé pour cette catégorie de déchet. Veuillez sélectionner une autre catégorie.
