= content_for :search do
  = form_tag( "/bon_de_sorties/search", class: "navbar-form navbar-right", role: :search ) do | f |
    .form-group
      = text_field_tag :query, nil, placeholder: "Numéro du bon de sortie", class: "form-control"
    %span.form-group-btn
      %button.btn.btn-default{ type: :submit }
        = fa_icon "search lg"

%h1.underline
  = fa_icon "tags"
  Liste des Bon de sorties
  %span.small
    = "(#{@bds.total_entries})"

  .btn-group.pull-right
    %button.btn.btn-info.dropdown-toggle{ type: "button", "data-toggle" => :dropdown}
      = fa_icon "cogs lg"
      &nbsp;
      Actions
      %span.caret
    %ul.dropdown-menu{role: "menu"}
      %li
        = fa_link_to new_bon_de_sortie_path, "Créer un nouveau Bon de sortie", "tag lg"

- if @bds.any?
  %table.table.table-stripped
    %thead
      %th Id
      %th # eBSDDs
      %th Destination
      %th Poids
      %th Traitement
      %th Créé le
      %th.actions Actions
    %tbody
    - @bds.each do | bd |
      %tr
        %td= link_to bd.id, bon_de_sortie_path(bd)
        %td= bd.ebsdds.count
        %td= bd.destination.nom
        %td
          = bd.poids
          kg
        %td= bd.codedr_cadre12
        %td= bd.created_at.strftime("%d/%m/%y")
        %td.actions
          .center-block.text-center
            = link_to(fa_icon("file lg", text: ""), bon_de_sortie_pdf_path(bd),
              class: "btn btn-info touletip btn-xs", role: "button", 
              title: "Imprimer le bon de sortie")

- else
  .alert.alert-info
    Aucun bon de sortie.
