
= javascript_include_tag "spin.min.js"
= javascript_include_tag "jquery.spin.js"
= stylesheet_link_tag "bon_de_sorties.css"

%h2.page-header 
  Créer un nouveau bon de sortie
  %small
    {
    = @dispo
    en attente
    }
  %a.btn.btn-success.pull-right#createBds{href: "#"}
    %i.fa.fa-save
    Créer le Bon de sortie
  .btn-group.pull-right.mg-r-5
    %button.btn.btn-info.dropdown-toggle{ type: "button", "data-toggle" => :dropdown}
      = fa_icon "cogs lg"
      &nbsp;
      Actions
      %span.caret
    %ul.dropdown-menu{role: "menu"}
      %li
        = fa_link_to new_bon_de_sortie_path, "Créer un nouveau bon de sortie", "sign-out lg"
      %li
        = fa_link_to bon_de_sorties_path, "Voir les bons de sortie", "list-ol lg"

#spinner
  -#= custom_form @bds, class: "form-horizontal", id: "bon-de-sortie", role: "role", 'data-url' => "#{ebsdds_type_dechet_a_sortir_url}"  do | f |
  %form#bon-de-sortie.form-horizontal{action: "/bon_de_sorties", method: 'post', role: "role", 'data-url' => "#{ebsdds_type_dechet_a_sortir_url}" }
    .form-group
      %label.control-label.col-sm-3 Type de déchet à sortir
      .col-md-9
        = hidden_field_tag "type_dechet", nil,  class: "form-control col-md-9", prompt: "Sélectionnez le type de déchet à sortir...", "data-placeholder" => "Sélectionnez le type de déchet à sortir..."
    .form-group
      %label.control-label.col-sm-3 Destination Finale
      .col-md-9
        = hidden_field_tag "destinataire", nil, class: "form-control col-md-9", "data-placeholder" => "Sélectionnez le destinataire...", disabled: true, "data-destinations" => Produit.to_destinations.to_json
        -#.input-group.input-super-group
          -#%span.input-group-addon Ou
          -#= text_field_tag 'destinationAutre', nil, class: "input-super-autre form-control col-sm-2", placeholder: "Sélectionnez un autre destination"
    .form-group
      %label.control-label.col-sm-3 Traitement prévu
      .col-md-9
        = hidden_field_tag "codedr", nil, class: "form-control col-md-9", "data-placeholder" => "Sélectionnez le traitement prévu...", disabled: true,  "data-codedr" => DechetDenomination.reborn.values.reduce([]) { |a, r| a << {id: r[5], text: r[5] } unless ( a.map{|c| c[:text]}.include?(r[5]) || r[5].blank? ) ; a  }.to_json
        -#.input-group.input-super-group
          -#%span.input-group-addon Ou
          -#= text_field_tag 'codedrAutre', nil, class: "input-super-autre form-control col-sm-2", placeholder: "Sélectionnez un autre traitement..."
        -#%span.prout ou
    .form-group
      %label.control-label.col-sm-3 
      .col-md-9
        = check_box_tag "ecodds"
        %label.control-label eBsdds ecodds uniquement
    .alert.alert-info#alert-poids{style: "display: none;"}
      %p.text-center
        = hidden_field_tag "poidsHidden", nil
        %strong
          Poids total du bon de sortie :
          %span#poids
          %span kg
    %table.table.table-striped#ebsdds_list{'data-url' => "#{ebsdds_a_sortir_url}", style: "display: none;"}
      %thead
        %th
          = check_box_tag "chauffe"
        %th Id
        %th Denomination
        %th Poids
        %th Producteur
        %th Transport
      %tbody
