%h2.page-header
  Détails du bon de sortie #{@bds.id}
  .btn-group.pull-right
    %button.btn.btn-info.dropdown-toggle{ type: "button", "data-toggle" => :dropdown}
      = fa_icon "cogs lg"
      &nbsp;
      Actions
      %span.caret
    %ul.dropdown-menu{role: "menu"}
      %li
        = fa_link_to new_bon_de_sortie_path, "Créer un nouveau bon de sortie", "sign-out lg"
      %li
        = fa_link_to bon_de_sorties_path, "Voir les bons de sortie", "sign-out lg"
      %li
        = fa_link_to bon_de_sortie_pdf_path(@bds), "Imprimer le bon de sortie", "file lg"
.well
  %label Traitement :
  %span= @bds.codedr_cadre12
  %span &nbsp;|&nbsp;
  %label Destination Finale :
  %span= link_to @bds.destination.nom, destination_path(@bds.destination)
  %span &nbsp;|&nbsp;
  %label Transporteur :
  %span
    - if @bds.collecteur
      = link_to @bds.collecteur.nom, collecteur_path(@bds.collecteur)
    - else
      \-
  %span &nbsp;|&nbsp;
  %label Dechet :
  %span= link_to @bds.produit.nom, produit_path(@bds.produit)
  %span &nbsp;|&nbsp;
  %label Date de sortie :
  %span
    - if @bds.date_sortie.nil?
      = @bds.created_at.strftime("%d/%m/%y")
    - else
      = @bds.date_sortie.strftime("%d/%m/%y")

- if @bds.ebsdds.any?
  %table.table.table-striped
    %thead
      %th Id
      %th Denomination
      %th Poids
      %th Producteur
      %th #CAP
      %th Date de Transport
    %tbody
      - @bds.ebsdds.each do | ebsdd |
        %tr
          %td
            = link_to ebsdd.bid, ebsdd, target: "_blank"
          %td
            = ebsdd.denomination_cadre_3
          %td
            = ebsdd.bordereau_poids
            kg
          %td
            = ebsdd.producteur.nom
          %td
            = ebsdd.num_cap
          %td
            = ebsdd.bordereau_date_transport.strftime("%d/%m/%y")

- else
  .alert.alert-danger Aucun eBSDDs associés



