= javascript_include_tag "bds/show"

%h2.page-header#bdsShow
  Détails du bon de sortie #{@bds.id}
  .btn-group.pull-right
    %button.btn.btn-info.dropdown-toggle{ type: "button", "data-toggle" => :dropdown}
      = fa_icon "cogs lg"
      &nbsp;
      Actions
      %span.caret
    %ul.dropdown-menu{role: "menu"}
      %li
        = fa_link_to new_bon_de_sortie_path, "Créer un nouveau bon de sortie", "sign-out lg"
      %li
        = fa_link_to bon_de_sorties_path, "Voir les bons de sortie", "sign-out lg"
      %li
        = fa_link_to bon_de_sortie_pdf_path(@bds), "Imprimer le bon de sortie", "file lg"
.well
  %label Traitement :
  %span= @bds.codedr_cadre12
  %span &nbsp;|&nbsp;
  %label Destination Finale :
  %span= link_to @bds.destination.nom, destination_path(@bds.destination)
  %span &nbsp;|&nbsp;
  %label CAP :
  %span= @bds.cap.nil? ? "-" : @bds.cap
  %span &nbsp;|&nbsp;
  %label Transporteur :
  %span
    - if @bds.collecteur
      = link_to @bds.collecteur.nom, collecteur_path(@bds.collecteur)
    - else
      \-
  %span &nbsp;|&nbsp;
  %label Dechet :
  %span= link_to @bds.produit.nom, produit_path(@bds.produit)
  %span &nbsp;|&nbsp;
  %label Date de sortie :
  %span
    - if @bds.date_sortie.nil?
      = @bds.created_at.strftime("%d/%m/%y")
    - else
      = @bds.date_sortie.strftime("%d/%m/%y")

- if @bds.ebsdds.any?
  %table.table.table-striped{ data: {bind: "with: vm"} }
    %thead
      %tr{ data: {bind: "foreach: headers"} }
        / ko if: title() === "Justif"
        %th
          %span{ data: {bind: "text: title "} }
          &nbsp;
          %a.btn.btn-xs.btn-success{href: "#", data: { bind: "visible: $root.justifs().length > 0, attr: {href: $root.justifLnk() } " } }
            %i.fa.fa-download
        / /ko
        / ko ifnot: title() === "Justif"
        %th{ data: { bind: "click: clicked"}}
          %span{ data: {bind: "text: title "} }
          %i.fa{ data: { bind: "css: { 'fa-caret-down': sort() && prop(), 'fa-caret-up': !sort() && prop()  }"} }
        / /ko
    %tbody{ data: {bind: "foreach: data"} }
      %tr
        %td
          %a{ href: "#", target: "_blank", data: {bind: "text: id, attr: { href: url } " } }
        %td{ data: {bind: "text: nom"} }
        %td{ data: {bind: "text: poids"} }
        %td{ data: {bind: "text: producteur"} }
        %td{ data: {bind: "text: cap"} }
        %td{ data: {bind: "text: transport"} }
        %td
          %input{type: "checkbox", data: { bind: "checkedValue: $data, checked: $root.justifs"} }

- else
  .alert.alert-danger Aucun eBSDDs associés

#model{ data:{ ebsdds: @bds.show_ebsdds_as_json, id: @bds.id }}
