%p#notice= notice

%p
  %b Nom:
  = @collecteur.nom
%p
  %b Siret:
  = @collecteur.siret
%p
  %b Adresse:
  = @collecteur.adresse
%p
  %b Responsable:
  = @collecteur.responsable
%p
  %b Cp:
  = @collecteur.cp
%p
  %b Vile:
  = @collecteur.ville
%p
  %b Tel:
  = @collecteur.tel
%p
  %b Fax:
  = @collecteur.fax
%p
  %b Email:
  = @collecteur.email
%p
  %b Recepisse
  = @collecteur.recepisse
%p
  %b Mode transport:
  = @collecteur.mode_transport
%p
  %b Limite de validité :
  = @collecteur.limite_validite
%p
  %b Nomenclature:
  = @collecteur.nomenclatures
