= form_for @destinataire do |f|
  - if @destinataire.errors.any?
    #error_explanation
      %h2= "#{pluralize(@destinataire.errors.count, "error")} prohibited this destinataire from being saved:"
      %ul
        - @destinataire.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
