.navbar.navbar-default#main_nav_bar{ role: :navigation }
  .navbar-header
    %button.navbar-toggle{ type: "button", "data-toggle" => :collapse, "data-target"=>"#super_menu"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    = link_to root_path, class: "navbar-brand" do
      = fa_icon "tree lg", text: "Mélèze"
  .navbar-collapse.collapse#super_menu
    -#%ul.nav.navbar-nav
      -#%li.dropdown
        -#= link_to "#", class: "dropdown-toggle", "data-toggle" => :dropdown do
          -#Menu
          -#%b.caret
        -#%ul.dropdown-menu
    %ul.nav.navbar-nav.navbar-right
      %li.dropdown
        = link_to destroy_utilisateur_session_path, class: "dropdown-toggle", "data-toggle" => "dropdown" do
          = fa_icon "sliders lg"
          &nbsp;
          Paramètres
          %b.caret
        %ul.dropdown-menu
          %li
            = fa_link_to producteurs_path, "Gérer les producteurs", "group lg"
          %li
            = fa_link_to ebsdds_path, "Gérer les eBSDDs", "tags"
          %li
            = fa_link_to bon_de_sorties_path, "Gérer les bons de sortie", "sign-out"
          %li
            = fa_link_to collecteurs_path, "Gérer les collecteurs", "truck lg"
          %li
            = fa_link_to attachments_path, "Gérer les fichiers importés", "file-text"
          %li
            = fa_link_to destinations_path, "Gérer les destinations (cadre 12)", "building-o lg"
          %li
            = fa_link_to destinataires_path, "Gérer les destinataires", "truck lg"
          - if current_utilisateur.is_admin?
            %li
              = fa_link_to produits_path, "Gérer les déchets", "recycle lg"
            %li
              = fa_link_to utilisateurs_path, "Gérer les utilisateurs", "user lg"
          %li
            = fa_link_to statistiques_path, "Statistiques", "bar-chart-o lg"
          %li.divider
          - if utilisateur_signed_in?
            %li.dropdown-header{ role: :presentation }
              = fa_icon "user lg"
              Utilisateur :
              = current_utilisateur.email.split("@").first.titleize
            %li
              = link_to destroy_utilisateur_session_path, :method => :delete do
                = fa_icon "sign-out lg"
                Déconnexion
    %ul.nav.navbar-nav.pull-right
      %li
        = link_to "Recherche avancée", new_search_path
    - if content_for? :search
      = yield :search
    - else
      = custom_form Search.new , html: { class: "navbar-form navbar-right", role: :search } do | f |
        .form-group
          = f.text_field :bordereau_id, placeholder: "Numéro de bordereau", class: "form-control"
          -#= text_field_tag :q, nil, class: "form-control", placeholder: "Rechercher"
        %span.form-group-btn
          -#= f.submit 'Rechercher', class: "btn btn-primary", type: "submit"
          %button.btn.btn-default{ type: :submit }
            = fa_icon "search lg"
    / = form_tag ebsdds_upload_path, class: "navbar-form navbar-right", role: :search do

