<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Meleze</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/assets/html5shiv.js"></script>
      <script src="assets/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
      <!-- Static navbar -->
      <%= render 'layouts/navbar' %>
      <%= render partial: 'layouts/flash', locals: { flach: flash } %>

      <%= yield %>
      <!-- Main component for a primary marketing message or call to action -->
      <%#<div class="jumbotron">%>
        <%#<h1>Navbar example</h1>%>
        <%#<p>This example is a quick exercise to illustrate how the default, static navbar and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>%>
        <%#<p>%>
          <%#<a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>%>
        <%#</p>%>
      <%#</div>%>

    </div> <!-- /container -->

    <%= javascript_include_tag "twitter/bootstrap" %>
  </body>
</html>
