.row
  .col-md-6
    %b
      Siret :
    = ebsdd.productable.siret
    %br
    %b
      Nom :
    = ebsdd.productable.nom
    %br
  .col-md-6
    %b
      Responsable :
    = ebsdd.productable.responsable
    %br
    %b
      Adresse :
    = ebsdd.productable.adresse
    %br
  .col-md-6
    %b
      Ville :
    = ebsdd.productable.ville
    %br
    %b
      Code postal :
    = ebsdd.productable.cp
    %br
  .col-md-6
    %b
      Téléphone :
    = ebsdd.productable.tel
    %br
    %b
      Fax :
    = ebsdd.productable.fax
    %br
  .col-md-12
    %b
      Adresse email :
    = ebsdd.productable.email
