.row
  .col-md-12
    %b
      = fa_icon ( ebsdd.entreposage_provisoire ? "check-square" : "square-o" )
      Entreposage provisoire ou reconditionnement
    %br
    %dl.dl-horizontal
      %dt
        Siret
      %dd
        = ebsdd.destinataire.siret
      %dt
        Nom
      %dd
        = ebsdd.destinataire.nom
      %dt
        Adresse
      %dd
        = ebsdd.destinataire.adresse
      %dt
        Code postal
      %dd
        = ebsdd.destinataire.cp
      %dt
        Ville
      %dd
        = ebsdd.destinataire.ville
      %dt
        Téléphone
      %dd
        = ebsdd.destinataire.tel
      %dt
        Fax
      %dd
        = ebsdd.destinataire.fax
      %dt
        Responsable
      %dd
        = ebsdd.destinataire.responsable
      %dt
        Numéro CAP :
      %dd
        = ebsdd.num_cap
      %dt
        Valorisation prévue :
      %dd
        = ebsdd.valorisation_prevue
