.row
  .col-md-6
    %b
      Siret :
    = ebsdd.producteur_siret
    %br
    %b
      Nom :
    = ebsdd.producteur_nom
    %br
    %b
      Responsable :
    = ebsdd.producteur_responsable
  .col-md-6
    %b
      Adresse :
    = ebsdd.producteur_adresse
    %br
    %b
      Ville :
    = ebsdd.producteur_ville
    %br
    %b
      Code postal :
    = ebsdd.producteur_cp
    %br
    %b
      Téléphone :
    = ebsdd.producteur_tel
    %br
    %b
      Fax :
    = ebsdd.producteur_fax
  .col-md-12
    %b
      Adresse email :
    = ebsdd.producteur_email
