.form-group
  %label Traitement prévu :
  - unless CodeDr[ebsdd.traitement_prevu].nil?
    = CodeDr[ebsdd.traitement_prevu]
  - else
    non renseigné.

- unless ebsdd.destination.nil?
  .row
    .col-md-4
      %label SIRET :
      = ebsdd.destination.siret

    .col-md-4
      %label Nom :
      = ebsdd.destination.nom

    .col-md-4
      %label Contact :
      = ebsdd.destination.responsable
    .col-md-4
      %label Adresse :
      = ebsdd.destination.adresse

    .col-md-4
      %label Code postal :
      = ebsdd.destination.cp

    .col-md-4
      %label Ville :
      = ebsdd.destination.ville

    .col-md-4
      %label Téléphone :
      = ebsdd.destination.tel

    .col-md-4
      %label Fax :
      = ebsdd.destination.fax

    .col-md-4
      %label Adresse email :
      = ebsdd.destination.email
- else
  .row
    .col-md-4
      %label Destination ultérieure :
      non renseignée.
