.row
  .col-md-6
    %b
      Siret :
    = ebsdd.emitted.siret
    %br
    %b
      Nom :
    = ebsdd.emitted.nom
    %br
  .col-md-6
    %b
      Responsable :
    = ebsdd.emitted.responsable
    %br
    %b
      Adresse :
    = ebsdd.emitted.adresse
    %br
  .col-md-6
    %b
      Ville :
    = ebsdd.emitted.ville
    %br
    %b
      Code postal :
    = ebsdd.emitted.cp
    %br
  .col-md-6
    %b
      Téléphone :
    = ebsdd.emitted.tel
    %br
    %b
      Fax :
    = ebsdd.emitted.fax
    %br
  .col-md-12
    %b
      Adresse email :
    = ebsdd.emitted.email
