.row
  .col-md-6
    %b
      Siret :
    = ebsdd.producteur.siret
    %br
    %b
      Nom :
    = ebsdd.producteur.nom
    %br
  .col-md-6
    %b
      Responsable :
    = ebsdd.producteur.responsable
    %br
    %b
      Adresse :
    = ebsdd.producteur.adresse
    %br
  .col-md-6
    %b
      Ville :
    = ebsdd.producteur.ville
    %br
    %b
      Code postal :
    = ebsdd.producteur.cp
    %br
  .col-md-6
    %b
      Téléphone :
    = ebsdd.producteur.tel
    %br
    %b
      Fax :
    = ebsdd.producteur.fax
    %br
  .col-md-12
    %b
      Adresse email :
    = ebsdd.producteur.email
