.row
  .col-md-6
    .col-md-12
      %label
        Date de transport : 
      = ebsdd.bordereau_date_transport.strftime("%d/%m/%Y")
    .col-md-6
      %label
        Mode de transport :
      %br
      = fa_icon "#{ ebsdd.mode_transport == 1 ? "dot-circle-o" : "circle-o" } lg", text: "Route"
      %br
      = fa_icon "#{ ebsdd.mode_transport == 2 ? "dot-circle-o" : "circle-o" } lg", text: "Aérien"
      %br
      = fa_icon "#{ ebsdd.mode_transport == 3 ? "dot-circle-o" : "circle-o" } lg", text: "Ferroviaire"
    .col-md-6
      %br
      = fa_icon "#{ ebsdd.mode_transport == 4 ? "dot-circle-o" : "circle-o" } lg", text: "Fluvial"
      %br
      = fa_icon "#{ ebsdd.mode_transport == 5 ? "dot-circle-o" : "circle-o" } lg", text: "Maritime"

  .col-md-6
    - if ebsdd.mode_transport == 1
      %label
        Mode de transport
      = ebsdd.mode_transport
      %br
      %label
        Limite de validité du bordereau :
      = ebsdd.limite_validite.nil? ? "-" : ebsdd.limite_validite.strftime("%d/%m/%Y")
      %br
      %label
        Numéro de recepissé
      - if ebsdd.collecteur.nil?
        Aucun
      - else
        = ebsdd.collecteur.recepisse
      %br
      %label
        Transport multimodal :
      = fa_icon "#{ ebsdd.transport_multimodal ? "dot-circle-o" : "circle-o" } lg", text: "Oui"
      &nbsp; &nbsp;
      = fa_icon "#{ !ebsdd.transport_multimodal ? "dot-circle-o" : "circle-o" } lg", text: "Non"
